footer{
    background-color:  var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
    text-transform: uppercase;
}